<section>
  <div class="bg-white 2xl:max-w-7xl mx-auto">
    <div class="px-8 pt-24 lg:pt-32 pb-0 mx-auto md:px-16">
      <div class="grid items-end gap-4 lg:grid-cols-3 max-w-5xl mx-auto">
        <div class="lg:col-span-2">
          <h1
            class="font-furore text-4xl tracking-tighter font-display text-green-800 lg:text-6xl text-balance">
            TECH SOLUTIONS FOR HUMAN RIGHTS
          </h1>
        </div>
        <p class="text-base font-medium text-green-500">
          An interdisciplinary team that aims to reimagine the delivery of complex qualitative information.        
        </p>
      </div>
      <img
        class="w-full max-h-[80vh] rounded-t-2xl relative object-cover object-top"
        src="/placeholders/background.png"
        alt=""
      />
      <div
        class="bg-green-200 text-green-600 relative rounded-b-2xl z-10 px-4 bottom-12 w-full overflow-x-hidden">
        <div
          class="items-center relative animate-marquee flex gap-4 whitespace-nowrap">
          — Accessible Machine Learning — Human First Design — Substantive Equality — Web Development — Legal Tech —
          Accessible Machine Learning — Human First Design — Substantive Equality — Web Development — Legal Tech —
          Accessible Machine Learning — Human First Design — Substantive Equality — Web Development — Legal Tech —
          Accessible Machine Learning — Human First Design — Substantive Equality — Web Development — Legal Tech —
          Accessible Machine Learning — Human First Design — Substantive Equality — Web Development — Legal Tech —
          Accessible Machine Learning — Human First Design — Substantive Equality — Web Development — Legal Tech —
          Accessible Machine Learning — Human First Design — Substantive Equality — Web Development — Legal Tech —
          Accessible Machine Learning — Human First Design — Substantive Equality — Web Development — Legal Tech —
          Accessible Machine Learning — Human First Design — Substantive Equality — Web Development — Legal Tech —
        </div>
      </div>
    </div>
  </div>
</section>
