<section class="overflow-hidden relative">
  <div class="bg-green-500 2xl:max-w-7xl mx-auto">
    <div class="px-8 py-24 mx-auto max-w-6xl md:px-16">
      <div
        class="flex flex-col flex-shrink-0 gap-8  md:gap-12 max-w-xl">
        <div>
          <div class="relative max-w-xs">
            <div
              class="absolute inset-0 flex items-center"
              aria-hidden="true">
              <div class="w-full border-t border-green-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="bg-green-500 pr-2 text-sm text-white font-medium"
                >Subscribe</span
              >
            </div>
          </div>
          <h1
            class="text-4xl tracking-tight font-display text-white lg:text-5xl mt-24 text-balance">
            Subscribe to our newsletter to stay up to date with our latest work, projects, and more
          </h1>
          <p class="text-green-100 text-2xl mt-8 font-display text-pretty">
           Every thursday at 14.00 we will send you a newsletter with the latest and greatest articles from our blog, as well as our latest work, projects, and more
          </p>
        </div>
        <form class="mt-12 w-full ">
          <div class="flex flex-col gap-2">
            <label
              for="email-address"
              class="sr-only"
              >Email address</label
            >
            <input
              id="email-address"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="min-w-0 flex-auto rounded-md border-0 h-12 duration-300 px-3.5 py-2 text-green-900 ring-1 ring-inset ring-white placeholder:text-green-400 focus:ring-2 focus:ring-inset focus:ring-green-600"
              placeholder="Enter your email"
            />

            <button
              type="submit"
              class="relative group overflow-hidden rounded-md h-12 px-4 bg-green-200 group-hover:border-b duration-300">
              <div
                aria-hidden="true"
                class="transition duration-300 group-hover:-translate-y-12 text-green-700 font-medium">
                <div class="h-12 flex items-center">
                  <span>Subscribe</span>
                </div>
                <div class="h-12 flex items-center justify-between w-full">
                  <span>Subscribe </span>
                  <span aria-hidden="true">→</span>
                </div>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
