<section class="overflow-hidden relative">
  <div class="bg-green-500 2xl:max-w-7xl mx-auto">
    <div class="px-8 py-24 mx-auto max-w-6xl md:px-16">
      <div
        class="flex flex-col  gap-8  md:gap-12 md:items-center text-center">
        <div>
          <div class="relative max-w-xs mx-auto">
            <div
              class="absolute inset-0 flex items-center"
              aria-hidden="true">
              <div class="w-full border-t border-green-300"></div>
            </div>
            <div class="relative flex justify-center">
              <span class="bg-green-500 px-2 text-sm text-white font-medium"
                >Join us</span
              >
            </div>
          </div>
          <h1
            class="text-4xl tracking-tight font-display text-white lg:text-5xl mt-24 text-balance">
            Want to jam with us?
          </h1>
          <p class="text-green-100 text-2xl mt-8 font-display text-balance">
            We’re a multi-disciplinary team building the future of the web. If
            that sounds exciting to you, check out our open positions.
          </p>
        </div>
        <a
          title="link to your page"
          aria-label="your label"
          href="#_"
          class="flex size-32 text-sm md:text-base lg:text-2xl xl:text-3xl text-center md:size-32 shrink-0 lg:size-52 2xl:size-64 text-green-500 hover:bg-green-900 hover:text-white duration-300 items-center justify-center rounded-full bg-white">
          <p>
            <span class="block">Careers</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
