---
---
<section>
  <div class="bg-green-500 2xl:max-w-7xl mx-auto overflow-hidden relative">
    <div class="px-8 py-12 mx-auto max-w-6xl md:px-16">
      <div class="flex flex-col max-w-xl">
        <p class="text-1xl tracking-tighter font-display text-white lg:text-2xl text-balance">
          Get in touch!
        </p>
      </div>
      <div class="grid gap-12 lg:grid-cols-2 mt-6 lg:mt-12 lg:max-w-none lg:justify-between">
        <div class="text-1xl tracking-tighter font-display text-white lg:text-1xl text-balance">
          Please get in touch if you have any questions regarding our projects, would like to collobarate or just have a chat regarding human rights and tech.
        </div>
        <div class="flex items-center gap-8 flex-col lg:flex-row">
          <div class="text-3xl tracking-tighter font-display text-white lg:text-1xl text-balance">
            viraaj_a@tshr.io
          </div> 
          <a 
            title="link to your page" 
            aria-label="your label" 
            href="/forms/contact"
            class="flex size-32 text-sm md:text-base lg:text-1 xl:text-2xl text-center md:size-18 shrink-0 lg:size-24 2xl:size-32 text-green-500 hover:bg-green-900 hover:text-white duration-300 items-center justify-center rounded-full bg-white">
            <p>
              <span class="block">Contact us</span>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
  